<html>
  <head>
    <title>
      <%= title %>
    </title>
    <!-- <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <div>
      <h1 style="margin-left: 40px;">Welcome!!</h1>
      <ul style="list-style-type: none;">
        <% if (locals.user){ %>
        <li>
          <a href="/users/profile" id="user_name">
            <%= user.name %>
          </a>
        </li>
        <li>
          <button><a href="/users/sign-out">Sign Out</a></button>
        </li>
        <% }else{ %>

        <li>
          <button><a href="/users/sign-in">Sign In</a></button>
        </li>
        <li>
          <button><a href="/users/sign-up">Sign Up</a></button>
        </li>

        <% } %>
      </ul>
    </div>
    <script>
      <% if (flash.success && flash.success.length > 0) {%>
          new Noty({
              theme: 'relax',
              text: "<%= flash.success %>",
              type: 'success',
              layout: 'topRight',
              timeout: 1500

          }).show();
      <%} %>

      <% if (flash.error && flash.error.length > 0) {%>
          new Noty({
              theme: 'relax',
              text: "<%= flash.error %>",
              type: 'error',
              layout: 'topRight',
              timeout: 1500

          }).show();
      <%} %>
    </script>
  </body>
</html>
