<html>

<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/forget_password.css">
</head>

<body>
    <h1>Reset Password</h1>
    <form action="/users/reset-pwd" method="POST">
        <!-- <input type="email" name="email" placeholder="Email" required id="inputs"> -->
        <input type="password" name="current_password" placeholder="Current Password" required id="inputs">
        <input type="password" name="new_password" placeholder="New Password " required id="inputs">
        <input type="password" name="confirm_new_password" placeholder="Confirm New Password" required id="inputs">
        <input type="submit" value="Update" id="input-submit">
    </form>
    <script>
            <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500

            }).show();    
            <%} %>
            <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500

            }).show();    
            <%} %>
    </script>
</body>

</html>