body{
    /* margin: 0; */
    text-align: center;
    width: 500px;
    height: 250px;
    margin: 10px 0 0 30%;
    border: 1px solid gray;
}
/* h1{
    border-bottom: 1px solid black;
} */
#inputs{
    height: 40px;
    width: 90%;
    margin-bottom: 10px;
}
#input-submit{
    /* margin-right: 70%; */
    height: 40px;
    width: 80%;
   background-color: teal;
   /* border-radius: 2%; */
}