body{
    background-color: lightsteelblue;
}
div{
    /* border: 1px solid black; */
}
ul{
    margin: 0;
    display: flex;
    flex-direction: row;
}
#user_name{
    padding-right: 10px;
}
button{
    /* margin-left: 50px; */
    /* width: 100px; */
}