body{
    background-image: url(https://images.unsplash.com/photo-1583770539147-581738d1310a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
#form{
    text-align: center;
    width: 370px;
    height: 260px;
    margin: 10% 0 0 35%;
    border: 1px solid grey;
    border-radius: 15px 50px;
}
#inputs{
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    background-color:whitesmoke;
    border-radius: 15px;
}
#input-submit{
    margin-left:1%;
    height: 40px;
    width: 90%;
    background-color: teal;
}
#google-login{
    font-size: 1.2rem;
    margin-right: 55%; 
    margin-top:-5px;
}

