body{
    background-image: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
}
#form{
    text-align: center;
    width: 500px;
    height: 450px;
    margin: 5% 0 0 30%;
    border: 1px solid grey;
    border-radius: 15px;
}
h1{
    color: aliceblue;
}
#inputs{
    height: 40px;
    width: 90%;
    border-radius: 15px;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    background-color:aliceblue;
}
#input-submit{
    background-color: teal;
    height: 40px;
    width: 90%;
}
#google-login{
    font-size: 1.2rem;
    margin-right: 68%;
    color: azure;
}
.g-recaptcha{
    margin-left: 23px;
    margin-bottom: 10px;;
}
#extra-sign{
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 31%; 
    color: azure;
}
#extra-sign a{
    text-decoration: none;
    color: cadetblue;
}